
*.opensdf
*.sdf
*.v12.suo
*.sln
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
*.idb
*.vcxproj
*.filters
*.suo
*.db
*.opendb
*.ipch
*.tmp
*.vcxproj
*.filters
*.filters
*.vcxproj
synthese/synthese/synthese.vcxproj.filters
*.class
synthese/synthese/forme.txt
