
*.opensdf
*.sdf
*.v12.suo
*.sln
*.exe
*.ilk
*.pdb
*.log
*.tlog
*.obj
*.idb
synthese/synthese/synthese.vcxproj
*.vcxproj
*.filters
synthese/.vs/synthese/v14/.suo
*.db
*.opendb
*.vcxproj
*.filters
*.vcxproj
*.filters
*.vcxproj
*.filters
*.vcxproj
